.privacy-policy {
  padding: 70px 0;

  .container {
    .privacy-policy-text {
      margin-bottom: 30px;
      span {
        font-weight: 600;
      }

    }

    .privacy-policy-title {
      margin-top: 60px;
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}
