@import "variables";

* {
  scroll-behavior: smooth;
}

app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-login {
  flex: 1 0 auto;
}

app-footer,
app-header {
  flex: 0 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: $base-text-color;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.menu {
  nav ul {
    display: flex;
    gap: 30px;
    list-style: none;

    li {
      &.active {
        color: $blue-color;
      }
      a.active {
        color: $blue-color;
      }
    }
  }
}

.button {
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: $blue-color;
  color: #FFFFFF;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.input {
  box-sizing: border-box;
  border: 2px solid $blue-color;
  padding: 17px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $base-text-color;
  border-radius: 3px;

}

.mat-mdc-menu-content {
  background-color: $bg-blue-color;
}


.mat-mdc-menu-item .mat-mdc-menu-item-text font {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $base-text-color;
}

.title {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.3;
  color: $blue-color;
}

#owlCarMain .owl-carousel {
  .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;

    .owl-dot {
      span {
        width: 10px;
        height: 10px;
        border: 1px solid #FFFFFF;
        background-color: transparent;
      }

      &.active {
        span {
          background-color: #FFFFFF;
        }
      }
    }
  }
}


.reviews-carousel .owl-carousel .owl-stage-outer {
  height: 268px;
}


.request-modal {
  width: 727px;
  box-sizing: border-box;
  padding: 95px;
  border: 2px solid $blue-color;
  border-radius: 10px;
  text-align: center;

  .request-failed {
    color: red;
    margin-top: 25px;
  }


  .title {
    margin-bottom: 20px;
  }

  .request-text {
    font-size: 14px;
    margin-bottom: 40px;
    color: #1E1A2B;

  }

  .request-inputs {
    margin-bottom: 20px;
    .request-input {
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      select {
        color: $blue-color;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

      }

      .input {
        width: 422px;
      }

      .invalid-feedback {
        color: red;
        margin: 15px 0;
      }
    }
  }

  .request-button {
    .button {
      width: 422px;
      padding: 15px;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 16px;

      &.success-request-button {
        width: 73px;
      }
    }

  }
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 10px !important;
  position: relative;


  .request-modal-close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }
}


a:-webkit-any-link {
  color: inherit;
}

a:-webkit-any-link

a:-webkit-any-link:active {
  color: inherit  !important;
}


.article-content-text {
  margin-bottom: 60px;


  h1 {
    display: none;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    width: 818px;
    margin: 20px 0 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: $blue-color;
    margin-top: 40px;
    width: 818px;

  }
}

//h1 {
//  display: none;
//}
//
//p {
//  font-size: 14px;
//  font-weight: 400;
//  line-height: 1.3;
//  width: 818px;
//  margin: 20px 0 0;
//}
//
//h3 {
//  font-size: 20px;
//  font-weight: 500;
//  line-height: 1.3;
//  color: $blue-color;
//  margin-top: 40px;
//  width: 818px;
//
//}
